* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

/* GENERAL STYLES - SIZE */

h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 48px;
    margin: 12px auto;
}

h2 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 12px;
}

input, label, textarea {
    display: block;
    width: 200px;
}

.mainSubtitle {
    font-size: 25px;
}

.longPara {
    font-size: 14px;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

a {
    text-decoration-line: none;
}

a:hover {
    color: #e4e4e4;
}

a, button, .section01, .section05, footer {
    color: #ffffff;
}

/* BUTTONS */

.genericButton {
    font-size: 1rem;
    width: 120px;
    height: 30px;

    border: none;
    border-radius: 4px;
    background-color: #11b9f8;
}

.genericButton:hover {
    background-color: #3bcbff;
    color: #e4e4e4;
}

#customButton {
    background-color: #11b9f8;
    padding: 5px 25px;
    border-radius: 25px;
}

#customButton:hover {
    background-color: #3bcbff;
}

/* CONTAINER */
/* White space around the each sections */

.container {
    padding: 40px 30px;
}

/* //HEADER// */

header {
    background-color: #333333;
    padding: 12px 20px;
}

header img {
    width: 55px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLink {
    display: inline-block;
    list-style-type: none;
}

.headerLink + .headerLink {
    margin-left: 25px;
}

/* //SECTION01// */

.section01 {
    position: relative;
    background-image: url("../assets/pexelsphoto1639563-dark.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 88vh;
}

#mainContainer {
    max-width: 460px;
    height: 230px;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 60px;
    left: 0;
    margin: auto;

    text-align: center; /* text/image */
}

#maxLogo {
    width: 12rem;
}

.mainSubtitle {
    max-width: 350px;
    line-height: 30px;
    margin: auto;
}


/* //SECTION02// */

/* .section02Container {
    background: tomato;
    text-align: center;
}

.carouselContainer {
    display: flex;
    width: 570px;
    margin: auto;
    background-color: violet;
}

.food {
    background-color: #3bcbff;
    display: inline-block;
} */

/* //SECTION03// */

.section03 {
    background-color: #cef1ff;
    padding-left: 30px;
}

.section03Container {
    display: flex;
    justify-content: space-between;
}

.textSide {
    max-width: 550px;
    padding-right: 20px;
    margin: auto;
}

.imageSide {
    display: inline-block;

    background-image: url("../assets/pexelsphoto2641886.jpeg");
    background-size: cover;
    background-position: center;

    min-width: 40%;
    height: 70vh;
}

/* //SECTION04// */

.topicsContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px;
    column-gap: 15px;
    justify-content: space-between;
    max-width: 820px;
    margin: auto;
}

.topic {
    width: 200px;
    text-align: center;
}

.section04 img {
    width: 70px;
}

.section04 h3 {
    font-size: 2rem;
}

/* //SECTION05// */

.section05 {
    background-image: url("../assets/002-dark.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section05Container {
    margin: auto;
    max-width: 820px;
}

.section05Container p {
    text-align: justify;
}

.section05Container h2 {
    text-decoration: underline;
}

/* //SECTION06// */

.section06Container {
    text-align: center;
}

.personContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 35px;
    column-gap: 15px;
    max-width: 820px;
    margin: auto;
}

.person img {
    width: 110px;
    border-radius: 100px;
}

/* //FOOTER// */

footer {
    background-color: #333333;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 820px;
    margin: auto;
}

.part01Footer {
    width: 300px;
}

.followUs img {
    width: 25px;
}

.followUs img + img {
    margin-left: 8px;
}

.contactForm {
    width: 250px;
}

.contactForm li + li {
    margin-top: 10px;
}

.contactForm input,
.contactForm textarea {
    border: 1px solid #a8a8a8;
    outline: unset;
    padding: 5px;
    width: 240px;
}

#submitButton {
    margin-top: 15px; 
}