body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

/* GENERAL STYLES - SIZE */

h1 {
    font-size: 50px;
    font-weight: 800;
}

h2 {
    font-size: 30px;
}

h3, p, a, input, label {
    font-size: 1rem;
}

.mainSubtitle {
    font-size: 25px;
}

.longPara {
    font-size: 14px;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    list-style-type: none;
}

li + li {
    margin-left: 25px;
}

a {
    text-decoration-line: none;
    color: #ffffff;
}

a:hover {
    color: #e4e4e4;
}

/* BUTTONS */

.genericButton {
    font-size: 12px;
}

#customButton {
    background-color: #11b9f8;
    padding: 5px 25px;
    border-radius: 25px;
}

#customButton:hover {
    background-color: #3bcbff;
}

/* CONTAINER */
/* White space around the each sections */

.container {
    padding: 20px;
}

/* //HEADER// */

header {
    background-color: #333333;
    padding: 0 20px;
}

header img {
    width: 55px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* //SECTION01// */

.section01 {
    position: relative;
    background-image: url("../assets/pexelsphoto1639563.jpeg");
    background-image: radial-gradient();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 88vh;
}

#shadow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 80px 10px 190px #0000003d,
    inset -80px -10px 190px #0000003d;
}

#mainContainer {
    max-width: 460px;
    height: 230px;
    text-align: center; /* text/image */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 60px;
    left: 0;
    margin: auto;
    color: #ffffff;
}

#mainContainer h1,
#mainContainer p {
    margin: auto;
}

#mainContainer p {
    max-width: 350px;
    line-height: 30px;
}

#maxLogo {
    width: 13rem;
}