body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

/* GENERAL STYLES - SIZE */

h1 {
    font-size: 50px;
    font-weight: 800;
}

h2 {
    font-size: 30px;
    margin: 0;
}

h3, p, a, input, label {
    font-size: 1rem;
    margin: 0;
}

.mainSubtitle {
    font-size: 25px;
}

.longPara {
    font-size: 14px;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    list-style-type: none;
}

li + li {
    margin-left: 25px;
}

a {
    text-decoration-line: none;
    color: #ffffff;
}

a:hover {
    color: #e4e4e4;
}

/* BUTTONS */

.genericButton {
    font-size: 1rem;
    width: 120px;
    height: 30px;

    border: none;
    border-radius: 4px;
    background-color: #11b9f8;
    color: #ffffff;
}

.genericButton:hover {
    background-color: #3bcbff;
    color: #e4e4e4;
}

#customButton {
    background-color: #11b9f8;
    padding: 5px 25px;
    border-radius: 25px;
}

#customButton:hover {
    background-color: #3bcbff;
}

/* CONTAINER */
/* White space around the each sections */

.container {
    padding: 40px 30px;
}

/* //HEADER// */

header {
    background-color: #333333;
    padding: 0 20px;
}

header img {
    width: 55px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* //SECTION01// */

.section01 {
    position: relative;
    background-image: url("../assets/pexelsphoto1639563.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 88vh;
}

.shadow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 80px 10px 190px #0000003d,
    inset -80px -10px 190px #0000003d;
}

#mainContainer {
    max-width: 460px;
    height: 230px;
    text-align: center; /* text/image */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 60px;
    left: 0;
    margin: auto;
    color: #ffffff;
}

#mainContainer h1,
#mainContainer p {
    margin: auto;
}

#mainContainer p {
    max-width: 350px;
    line-height: 30px;
}

#maxLogo {
    width: 13rem;
}

/* //SECTION02// */

/* .section02Container {
    background: tomato;
    text-align: center;
}

.carouselContainer {
    display: flex;
    width: 570px;
    margin: auto;
    background-color: violet;
}

.food {
    background-color: #3bcbff;
    display: inline-block;
} */

/* //SECTION03// */

.section03 {
    background-color: #cef1ff;
    padding-left: 30px;
}

.section03Container {
    display: flex;
    justify-content: space-between;
}

.textSide {
    max-width: 550px;
    padding-right: 20px;
    margin: auto;
}

.textSide h2 {
    margin-bottom: 10px;
}

.longPara {
    margin-bottom: 10px;
    font-size: 14px;
}

.imageSide {
    display: inline-block;

    background-image: url("../assets/pexelsphoto2641886.jpeg");
    background-size: cover;
    background-position: center;

    min-width: 40%;
    height: 70vh;
}

/* //SECTION04// */

.topicsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 820px;
    margin: auto;
}

.topic {
    width: 200px;
    margin: 15px 0;
    text-align: center;
}

.section04 img {
    width: 70px;
}

.section04 h3 {
    font-size: 2rem;
}

.section04 p {
    margin-bottom: 15px;
}

/* //SECTION05// */

.section05 {
    position: relative;
    color: #ffffff;
    background-image: url("../assets/002.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 55vh;
}

.section05Container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 820px;
    height: min-content;
}

.section05Container > p,
.section05Container > h2 {
    margin-bottom: 15px;
}

.section05Container p {
    text-align: justify;
}

.section05Container h2 {
    text-decoration: underline;
}

/* //SECTION06// */

.section06Container {
    text-align: center;
}

.section06Container h2{
    margin-bottom: 15px
}

.personContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    max-width: 820px;
    margin: auto;
}

.person img {
    width: 110px;
    border-radius: 100px;
}